# set the plaform to arm-qemu, arm-bbb, etc.
PLATFORM=arm-qemu

# CC the appropriate compiler
#  - the cross compiler when building for ARM or gcc for x86
# CONF_LFLAGS is for the config program in $XINU_HOME/config
# Uncomment the appropriate variables for your environment
#  and comment or delete the other ones.

# For SICE Linux machines
# - silo.luddy.indiana.edu
# - tank.luddy.indiana.edu
CC = arm-none-eabi-gcc
CONF_LFLAGS = -lfl

# x86 compiler in the VM
# PLATFORM=x86-galileo
# CC = /usr/bin/gcc

# For the Linux VM
# CC = arm-none-eabi-gcc
# CONF_LFLAGS = -lfl

# For Macports on macOS
# CC = arm-none-eabi-gcc
# CONF_LFLAGS = -L/opt/local/lib -lfl

# For Homebrew on macOS (both x86 and M1)
# HOMEBREW_PREFIX   :=      $(shell brew config | grep HOMEBREW_PREFIX | awk '{print$$2}')
# CC = arm-none-eabi-gcc
# CONF_LFLAGS = -L$(HOMEBREW_PREFIX)/opt/flex/lib -lfl
