# set the plaform to arm-qemu, arm-bbb, etc.
PLATFORM=arm-qemu

# COMPILER_ROOT is for the appropriate compiler
#  - the cross compiler when building for ARM or gcc for x86
# CONF_LFLAGS is for the config program in $XINU_HOME/config
# Uncomment the appropriate variables for your environment
#  and comment or delete the other ones.

# For SICE Linux machines
# - silo.luddy.indiana.edu
# - tank.luddy.indiana.edu
COMPILER_ROOT     :=      $(shell which arm-none-eabi-gcc | sed 's|gcc$$||')
CONF_LFLAGS = -lfl

# x86 compiler in the VM
# PLATFORM=x86-galileo
# COMPILER_ROOT   =      /usr/bin/

# For the Linux VM
# COMPILER_ROOT     :=      $(shell which arm-none-eabi-gcc | sed 's|gcc$$||')
# CONF_LFLAGS = -lfl

# For Macports on macOS
# COMPILER_ROOT     :=      $(shell which arm-none-eabi-gcc | sed 's|gcc$$||')
# CONF_LFLAGS = -L/opt/local/lib -lfl

# For Homebrew on macOS (both x86 and M1)
# COMPILER_ROOT     :=      $(shell which arm-none-eabi-gcc | sed 's|gcc$$||')
# HOMEBREW_PREFIX   :=      $(shell brew config | grep HOMEBREW_PREFIX | awk '{print$$2}')
# CONF_LFLAGS = -L$(HOMEBREW_PREFIX)/opt/flex/lib -lfl
